.Container {
  display: flex;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  position: relative;

  padding: 5px;

  justify-content: flex-start;
  align-items: center;

  height: 300px;
  width: 100%;

  .Background {
    position: absolute;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    z-index: 1;

    .Diffuser {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      z-index: 3;
    }

    .BackgroundImage {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .Content_Box {
    display: flex;
    flex-direction: column;

    color: white;

    gap: 10px;

    height: fit-content;
    width: 400px;

    z-index: 3;

    .Title {
      font-size: 20px;
      font-weight: 400;
    }

    .Text {
      font-size: 17px;
      font-weight: 300;
    }

    .WWU_Button {
      display: flex;

      cursor: pointer;

      background-color: rgb(15, 38, 61);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: 1px solid rgba(255, 255, 255, .5);
      color: white;

      font-size: 14px;
      font-weight: 300;

      padding: 5px 20px;
      width: fit-content;

      transition: .3s;
    }

    .WWU_Button:is(:hover) {
        transform: translateY(-2px) scale(.9);
    }
  }
}

@media only screen and (max-width: 400px) {
  .Container {
    .Content_Box {
      width: 100%;
    }
  }
}
